body{
    background-color: #e8e8e8 !important;
}
#myDiv{
    width: 100%;
    height: 100%;
    padding-left: 41%;
    padding-top: 13%;
    z-index: 1;
    position: fixed;
    display:none;
    }
    .main{
    margin-top: 3%;
    }

   .annoHead,.trainHead{
        text-align: center;
        padding: 9px;
    border-bottom: solid .5px #dee2e4;
    }
    .report{
        border: solid 0.2px gray;
        padding-bottom: 0px;
        display: none;
        margin-bottom: -8px;
    }
    .dwn{
        padding-bottom: 18px;
        background: #5bc0de;
        margin-left: 20%;
        color: white;
    }
#dwnMsg{
        color:blue;
    }
.error{
	display:none;
	height: 275px;
	overflow: auto;
    	background: white;
    	padding: 10px
}
#missingList{
color: red !important;
}
.navbar {
    border-radius: 0px !important;
}
#annotation{
    margin-top:-25;
}
.aiToolMain{
    margin-top: -40px;
}
.aiToolHead{
    margin: 40px 0 -25px !important;
 }
 #reportHead{
   margin-top: 13px;
   text-align: center;
 }
 #counties,#states{
     margin-top: 9px;
    text-align: center !important;
  }

  .ptag{
    background: #212121;
    color: white;
    border-radius: 10px;
     text-align: center !important;
  }
.tabHead{
    text-align: center !important;
}
thead{
    background: #212121;
    color:white;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 0.5px solid #212121 !important;
}
#check ,#checkAll{
    zoom: 1.5;
}
.src{
    padding-bottom: 1%;
}
#searchData{
    padding-left: 10px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #b5b3b3;
}
table{
    display: block;
    overflow: auto;
    height: 600px;
    /* table-layout: fixed;
    width: 100px; */
    
}
.trainBtn{
    margin-bottom: 36px;
    margin-top: 32px;
}
.tableMain{
    border: solid .5px #212121;
}
.hideColoumn{
    display: none;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  

  
  .dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  .dropdown-content a:hover {
      background: #e8e8e8;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
  }
  .dropcls{
    overflow: auto;
    height: auto;
    border: 1px solid #cccccc;
    padding: 10px;
    box-shadow: 2px 0px #cccccc;
    max-height: 350px;
    display: none;
  }
 .closee{
     cursor: pointer;
 }
 .success-popup  {
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
}

.modal-title{
    font-family: -webkit-body;
    text-align: center;
    font-size: 26px;
    color: #0b0b0b;
}
.modelSuccess{
    color: #1d8237;
    font-family: sans-serif;
}
.modelError{
    color: #e01620;
    font-family: sans-serif;
}
.searchDataBtn{
    cursor: pointer;
    padding: 6px;
    border: solid #b5b2b2 .5px;
}
.searchDataBtn :hover{
    background: #bebfbf !important;
}

#modelDwn{
    padding: 6px;
    color: white
}
.mdwn{
    margin-top: 10px;
    margin-left: 37%;
    background: #5bc0de;
}
.othermodel{
    display: none;
}
