{% load static %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/registration.js' %}" type="text/javascript"></script>
<p>Registered Teams: {{team_count}}</p>
<form id = "select_doc_form" method = "post">{% csrf_token %}


    <div class="form-group">
        <input type="text" class="form-control password" name ="team_name" id="team_name" placeholder="Team name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control password" name ="coach_name" id="coach_name" placeholder="coach name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control password" name ="manager_name" id="manager_name" placeholder="manager name">
    </div>
    <div class="form-group">
        <textarea class="form-control" name ="members_name" id="members_name" placeholder="members name" rows="8"></textarea>

    </div>


    <input type="button" class="btn btn-primary" id="register" value="REGISTER">
</form>