{% load static %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/squad.js' %}" type="text/javascript"></script>
<table  class="table table-condensed table-hover table-striped table-bordered dataTable " id="headerTable">
                        <thead>
                            <tr>
                                <th class="tabHead">Team Id</th>
                                <th class="tabHead">Team name</th>
                                <th  class="tabHead" >Coach name</th>
                                <th  class="tabHead" >Manager name</th>
                                <th  class="tabHead" >Players</th>
<!--                                <th  class="tabHead" >Delete</th>-->
                            </tr>
                        </thead>
                        <tbody>
                          {% for item in config_json.teamdata %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.team_name}}</td>
                                <td>{{ item.coach_name}}</td>
                                <td>{{ item.manager_name}}</td>
                                <td>{{ item.players }}</td>
<!--                                <td>-->
<!--                                    <button type="submit" class="btn btn-info" id="deleteHeader" onclick="deleteHeader({{item.id}})">DELETE</button>-->
<!--                                </td>-->
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
